body {
  background-color: #7dbfdb;
  font-family: Arial, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 80px;
}

button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  border: solid 3px black;
}

#new-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#library-container {
  display: flex;
  flex-flow: row wrap;
}
